body{
  background-color: black;
}
input{
  background: transparent;
  color: white;
width: 60%;
height: 50px;
}
::placeholder{
 text-align: center;
  color: white;
  font-size: x-large;
}
.mynewdiv{
  margin-top: 10%;
text-align: center;
}
button{
  background-color:transparent;
  margin-top: 30px;
  border-width: 0px;
  border-radius: 20px;
  width: 100px;
  font-size: 20px;
  font-weight: bold;
  color: limegreen;
}
button:hover{
  background-color:transparent;
  border: 1px solid white;
  border-radius: 20px;
  width: 100px;
  font-size: 20px;
  font-weight: bold;
  color: limegreen;
  cursor:pointer ;
  margin-top: 30px;
}
button.dele{
  background-color:transparent;
  margin-top: 30px;
  border-width: 0px;
  border-radius: 20px;
  width: 100px;
  font-size: 20px;
  font-weight: bold;
  color:red;
}
button.dele:hover{
  background-color:transparent;
  border: 1px solid white;
  border-radius: 20px;
  width: 100px;
  font-size: 20px;
  font-weight: bold;
  color: red;
  cursor:pointer ;
  margin-top: 30px;
}
li{
  color: white;
}